{% include "../../partials/head/index.njk" %}

<div 
  id="app" 
  data-o-save-deep="defaultSave"
  data-o-type="object"
>
  <div class="mb--6">
    <a class="logo" href="">
      <span class="logo__background"></span>
      <span class="logo__text">Blipcat</span>
    </a>
  </div>
  <div class="text-align--right mb--4">
    <button class="button button--large">
      <span class="button__background"></span>
      <span 
        class="button__text"
        data-i-new="progressUpdate .progress-updates top"
      >+ progress update</span>
    </button>
  </div>
  <div 
    class="progress-updates"
    data-o-key="progressUpdates"
    data-o-type="list"
  >
    {% for progressUpdate in data.progressUpdates %}
      {% include "../../partials/progressUpdate/index.njk" %}
    {% endfor %}
  </div>
</div>

<script src="/dist/index.js"></script>

{% include "../../partials/footer/index.njk" %}













