<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/minireset.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/remake.css">
  <script src="{{process.env.BROWSER_REFRESH_URL}}"></script>
</head>
<body>
  <div class="login-row">
    <span class="login-row__label">Login as: </span>
    <a href="#">John</a>
    <a href="#">Meredith</a>
    <a href="#">Jamie</a>
  </div>